
<!DOCTYPE html>

<html>
<body>
    <a href="@Url.RouteUrl("home")">Home</a>
    <a href="@Url.RouteUrl("Posts")">Posts</a>
    @if (User.IsInRole("admin"))
    {
    <a href="@Url.RouteUrl("admin_default")">Admin</a>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <a href="~/Auth/Logout">Logout</a>
        <div>Welcome back, @User.Identity.Name</div>
      
    }
    else
    {
        <a href="@Url.RouteUrl("login")">Login</a>
    }
    
    @RenderBody()

    <footer>
        &copy; @DateTime.UtcNow.Year - Zane Degner
    </footer>
</body>
</html>
